{
    "CreateAgreementFunction": {
        "DATABASE_URL": "postgres://postgres:postgres@postgres:5432/cqrs_demo",
        "ENABLE_MANUAL_SETTLEMENT_TRIGGER": "false"
    },
    "DebugEventsFunction": {
        "DATABASE_URL": "postgres://postgres:postgres@postgres:5432/cqrs_demo"
    },
    "ListAgreementsFunction": {
        "DATABASE_URL": "postgres://postgres:postgres@postgres:5432/cqrs_demo"
    },
    "ListLedgerFunction": {
        "DATABASE_URL": "postgres://postgres:postgres@postgres:5432/cqrs_demo"
    },
    "ApproveAgreementFunction": {
        "DATABASE_URL": "postgres://postgres:postgres@postgres:5432/cqrs_demo",
        "ENABLE_MANUAL_SETTLEMENT_TRIGGER": "false",
        "TRANSITION_EVENT_TYPE": "AgreementApproved"
    },
    "FundAgreementFunction": {
        "DATABASE_URL": "postgres://postgres:postgres@postgres:5432/cqrs_demo",
        "ENABLE_MANUAL_SETTLEMENT_TRIGGER": "false",
        "TRANSITION_EVENT_TYPE": "AgreementFunded"
    },
    "SettleAgreementFunction": {
        "DATABASE_URL": "postgres://postgres:postgres@postgres:5432/cqrs_demo",
        "ENABLE_DEV_FAILURE_SIMULATION": "false",
        "ENABLE_MANUAL_SETTLEMENT_TRIGGER": "false",
        "TRANSITION_EVENT_TYPE": "AgreementSettled"
    },
    "SettlementProcessorFunction": {
        "DATABASE_URL": "postgres://postgres:postgres@postgres:5432/cqrs_demo"
    },
    "OutboxDispatcherFunction": {
        "DATABASE_URL": "postgres://postgres:postgres@postgres:5432/cqrs_demo",
        "EVENT_PUBLISHER_MODE": "local",
        "EVENT_BUS_NAME": "default",
        "OUTBOX_DISPATCH_BATCH_SIZE": "20"
    }
}
